@import 'tailwindcss';

@theme {
	--font-sans: var(--font-inter);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #ffffff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
